<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qbtiempo.qbtiempo.qbtiempo" >

    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="21" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuprincipal"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".version"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".registro_de_actividades"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".registro_de_actividades_por_clases"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".CargarReg_Actividades.BDateActivity" />
        <activity android:name=".CargarReg_Actividades.Crear" />
        <activity android:name=".CargarReg_Actividades.Leer" />
        <activity android:name=".CargarReg_Actividades.NotasList" />
        <activity android:name=".CargarReg_Actividades.Editar" />
        <activity
            android:name=".Sincronizar"
            android:label="@string/title_activity_sincronizar" >
        </activity>
        <activity
            android:name=".ActualizarDatos"
            android:label="@string/title_activity_actualizar_datos" >
        </activity>
    </application>

</manifest>
